
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>图书目录</title>
    <link rel="stylesheet" th:href="@{/common/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/admin/css/style.css}">
    <script th:src="@{/common/layui/layui.js}"></script>
    <script th:src="@{/common/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/common/vue.min.js}"></script>
</head>
<body>
<div id="app">
    <!--顶栏-->
    <header>
        <h1 v-text="webname"></h1>
        <div class="breadcrumb">
            <i class="layui-icon">&#xe715;</i>
            <ul>
                <li v-for="vo in address">
                    <a  v-text="vo.name" :href="vo.url" ></a> <span>/</span>
                </li>
            </ul>
        </div>
    </header>

    <div class="main" id="app">
        <!--左栏-->
        <div class="left">
            <ul class="cl" >
                <!--顶级分类-->
                <li v-for="vo,index in menu" :class="{hidden:vo.hidden}">
                    <a href="javascript:;"  :class="{active:vo.active}"  @click="onActive(index)">
                        <i class="layui-icon" v-html="vo.icon"></i>
                        <span v-text="vo.name"></span>
                        <i class="layui-icon arrow" v-show="vo.url.length==0">&#xe61a;</i> <i v-show="vo.active" class="layui-icon active">&#xe623;</i>
                    </a>
                    <!--子级分类-->
                    <div v-for="vo2,index2 in vo.list">
                        <a href="javascript:;" :class="{active:vo2.active}" @click="onActive(index,index2)" v-text="vo2.name"></a>
                        <i v-show="vo2.active" class="layui-icon active">&#xe623;</i>
                    </div>
                </li>
            </ul>
        </div>
        <!--右侧-->
        <div class="right">


            <div class="layui-row">


                <div  class="layui-col-lg4" style="text-align: left">

                    <div class="layui-input-inline" style="width: 300px">
                        <input type="text" name="k" value="" placeholder="图书名 / 作者 / ISBN编码 / 类别号" class="layui-input key">
                    </div>
                    <button type="button" class="layui-btn sou">搜索</button>
                </div>

                <div class="layui-col-lg8">
                    <a href="?/admin/user/index/connect/qq.html" class="layui-btn">新增图书</a>
                </div>
            </div>
            <!-- 使用数据表格-->
            <table id="bookList" lay-filter="test"></table>
        </div>
    </div>
</div>
<script th:src="@{/admin/js/config.js}"></script>
<script th:src="@{/admin/js/script.js}"></script>

<!--生成模块 -->
<script type="text/html" id="buttonGroup">
    <button class="layui-btn  layui-btn-normal" value=book_id  lay-event="submit"> 查看 </button>
    <button class="layui-btn  layui-btn-warm" value=book_id  lay-event="update"> 编辑 </button>
    <button class="layui-btn  layui-btn-danger" value=book_id  lay-event="remove"> 删除 </button>
</script>
<script>


    layui.use('table', function(){
        var table = layui.table;
        //获取根目录路径

        var ctxPath  = [[@{/}]];

        //数据表格模块
        table.render({
            elem: '#bookList' //table id
            ,size: 'lg'
            ,method: "post" //数据传输接口
            ,height: 800
            ,limit:20
            ,limits:[10, 20, 30, 40, 50]
            ,url: ctxPath + '/Book/findAllBook' //数据接口
            ,page: true //开启分页
            ,cols: [
                [ //表头 注意格式以解决thyemeleaf和layui的冲突
                {field: 'name', title: '图书名', width:200, fixed: 'left',align:'center'}
                ,{field: 'author', title: '作者', width:200,align:'center'}
                ,{field: 'iSBN', title: 'ISBN编码', width:200,align:'center'}
                ,{field: 'language', title: '语言', width: 150,align:'center'}
                ,{field: 'class_id', title: '类别号', width: 100,align:'center'}
                ,{field: 'number', title: '馆藏数量', width: 100, sort: false,align:'center'}
                ,{field: 'book_id', title: '操作', width: 500, templet:'#buttonGroup',align:'center'}
            ]
            ]
        });

        //监听工具条
        table.on('tool(test)',function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象

            if(layEvent === 'submit'){ //查看操作
                alert(data.name); //获取当前数据行的某个值 此处应该调用ajax函数
            } else if (layEvent === 'remove'){
                //删除操作
                alert("删除");
            } else if (layEvent === 'update')
            {
                //更新操作
                alert("更新");
            }
        });

    });
</script>
</body>
</html>
